<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Techie - v4.10.0
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body>
<div>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/index">OkiboAnime</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/index">Home</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div style="text-align: center;">
        <h1>Signup</h1>
      </div>
      <div data-aos="zoom-in" data-aos-delay="100" style="display: flex; flex-direction: column; align-items: center;">
          <div style="display: flex; justify-content: center;">
            <form>
              <div style="display: flex; flex-direction: column; gap: 15px;">
                <div style="text-align: center;">
                  <h2>Choose an username</h2>
                </div>
                <input class="form-control" placeholder="marckgt7" style="text-align: center;">
                <div style="text-align: center;">
                  <h2>Indicate your birthday</h2>
                </div>
                <input class="form-control" type="date" style="text-align: center;color: grey;">
                <div style="text-align: center;">
                  <h2>Indicate your gender</h2><br>
                  <select class="form-control" name="option" style="text-align: center; color: grey;">
                    <option style="text-align: center; color: grey;" value="Male">Male</option>
                    <option style="text-align: center;color: grey;" value="Female">Female</option>
                  </select>
                </div>
                <div style="text-align: center;">
                  <h2>Choose a password</h2>
                </div>
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" style="text-align: center;">
                <a class="btn-get-started scrollto" style=" text-align: center; margin: auto;" type="submit">Signup</a>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section><!-- End Hero -->  


  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
</body>
</html>